
.edd-ul-screenshots {
	padding:5px;
	margin-left:-21px;
	display:flex;
	text-align:center;
}

.edd-screenshots-container .edd-gallery-item {
	flex:1;
	margin: 0 0px 0px 20px;
	overflow: visible;
	padding-left:0px;
	padding-right:0px;
	list-style:none;
	overflow: hidden;
}

.edd-screenshots-container .image-block img {
	background-color: rgb(245, 245, 245);
	border-color: rgb(189, 195, 199);
	border: 1px solid;
	padding: 1px;
}