
/*
.edd-screenshots-container .image-block img {
	background-color: rgb(245, 245, 245);
	border-color: rgb(189, 195, 199);
	border: 1px solid;
}
*/

.edd-screenshots-container .image-block a {
	color: rgb(245, 245, 245);
}


.edd-screenshots-container .image-block:hover img {
	opacity: .8;
}
.edd-screenshots-container .yt-thumb {
    /*
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      */
}

.fancybox-toolbar .fancybox-button {
    height: 44px !important;
    width: 44px !important;
}
